.rw-scaffold {
  @apply bg-white text-gray-600;
}
.rw-scaffold h1,
.rw-scaffold h2 {
  @apply m-0;
}
.rw-scaffold a {
  @apply bg-transparent;
}
.rw-scaffold ul {
  @apply m-0 p-0;
}
.rw-scaffold input:-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::placeholder {
  @apply text-gray-500;
}
.rw-header {
  @apply flex justify-between px-8 py-4;
}
.rw-main {
  @apply mx-4 pb-4;
}
.rw-segment {
  @apply w-full overflow-hidden;
  scrollbar-color: theme('colors.zinc.400') transparent;
}
.rw-segment::-webkit-scrollbar {
  height: initial;
}
.rw-segment::-webkit-scrollbar-track {
  @apply rounded-b-[10px] rounded-t-none border-0 border-t border-solid border-gray-200 bg-transparent p-[2px];
}
.rw-segment::-webkit-scrollbar-thumb {
  @apply rounded-full border-[3px] border-solid border-transparent bg-zinc-400 bg-clip-content;
}
.rw-segment-header {
  @apply bg-inherit px-4 py-3 ;
}
.rw-segment-main {
  @apply p-0 sm:p-2 md:p-4;
}
.rw-link {
  @apply text-sky-500 underline;
}
.rw-link:hover {
  @apply text-sky-600;
}
.rw-forgot-link {
  @apply mt-1 text-right text-xs text-gray-500 underline;
}
.rw-forgot-link:hover {
  @apply text-sky-600;
}
.rw-heading {
  @apply font-semibold;
}
.rw-heading.rw-heading-primary {
  @apply text-xl;
}
.rw-heading.rw-heading-secondary {
  @apply text-lg;
}
.rw-heading .rw-link {
  @apply text-gray-600 no-underline;
}
.rw-heading .rw-link:hover {
  @apply text-teal-500 underline;
}
.rw-cell-error {
  @apply text-sm font-semibold;
}
.rw-form-wrapper {
  @apply -mt-4 text-base;
}
.rw-cell-error,
.rw-form-error-wrapper {
  @apply my-4 rounded border border-rose-100 bg-rose-50 p-4 text-rose-600;
}
.rw-form-error-title {
  @apply m-0 font-semibold;
}
.rw-form-error-list {
  @apply mt-2 list-inside list-disc;
}
.rw-button {
  @apply flex cursor-pointer justify-center rounded border-0 bg-teal-600 px-5 py-1 text-base font-semibold uppercase leading-loose tracking-wider text-gray-100 no-underline transition duration-100;
}
.rw-button:hover {
  @apply bg-teal-700 text-white;
}
.rw-button.rw-button-small {
  @apply rounded-sm px-2 py-1 text-xs;
}
.rw-button.rw-button-green {
  @apply bg-emerald-500 text-white;
}
.rw-button.rw-button-green:hover {
  @apply bg-emerald-700;
}
.rw-button.rw-button-blue {
  @apply bg-sky-600 text-white;
}
.rw-button.rw-button-blue:hover {
  @apply bg-sky-800;
}
.rw-button.rw-button-red {
  @apply bg-destructive text-slate-100;
}
.rw-button.rw-button-red:hover {
  @apply bg-destructive/80 text-slate-100;
}
.rw-button-icon {
  @apply mr-1 text-xl leading-5 h-6;
}
.rw-button-group {
  @apply mx-2 my-3 flex justify-center;
}
.rw-button-group .rw-button {
  @apply mx-1;
}
.rw-form-wrapper .rw-button-group {
  @apply mt-8;
}
.rw-label {
  @apply mt-6 block text-left font-semibold
}
.rw-label.rw-label-error {
  @apply text-rose-600;
}
.rw-input {
  @apply mt-2 block w-full rounded-md border text-secondary-foreground bg-transparent backdrop-brightness-200 border-border py-2 px-3 outline-none;
}
.rw-input-calendar {
  @apply mt-2 w-full rounded border bg-transparent backdrop-brightness-200 border-border p-2 outline-none;
}
.rw-check-radio-items {
  @apply flex justify-items-center gap-2 mt-1;
}
.rw-input option {
  @apply bg-secondary backdrop-brightness-200 border-border;
  @apply cursor-pointer;
  @apply py-4 px-4;
}
.rw-input option:checked {
  @apply bg-sky-600 text-white;
}
.rw-check-radio-item-none {
  @apply text-gray-600;
}
.rw-input[type='checkbox'],
.rw-input[type='radio'] {
  @apply ml-0 mr-1 mt-1 inline w-4;
}
.rw-input::-webkit-outer-spin-button,
.rw-input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}
/* For Firefox */
.rw-input[type="number"] {
  -moz-appearance: textfield;
}

.rw-input:focus {
  @apply ring-sky-600 ring-2 ring-inset;
}
.rw-input-error {
  @apply border-rose-600 text-rose-600;
}
.rw-input-disabled {
  @apply bg-accent border-dotted border-2 text-muted-foreground;
}
.rw-input-error:focus {
  @apply border-rose-600 outline-none;
  box-shadow: 0 0 5px #c53030;
}
.rw-field-error {
  @apply mt-1 block text-xs font-semibold uppercase text-rose-600;
}
.rw-table-wrapper-responsive {
  @apply overflow-x-auto overflow-y-auto max-h-[calc(100vh-4rem)] relative;
}
.rw-table-wrapper-responsive .rw-table {
  min-width: 48rem;
}
.rw-table {
  @apply w-full text-sm ;
}
.rw-table th,
.rw-table td {
  @apply p-3;
}
.rw-table td {
  @apply  bg-secondary/50 text-foreground;
}
.rw-table tr:nth-child(odd) td,
.rw-table tr:nth-child(odd) th {
  @apply bg-transparent text-foreground;
}
.rw-table thead tr {
  @apply bg-secondary text-foreground;
  position: sticky;
  top: 0;
}
.rw-table th {
  @apply text-left font-semibold;
}
.rw-table thead {
  @apply sticky top-0 z-10;
}
.rw-table thead th {
  @apply text-left;
}
.rw-table tbody th {
  @apply text-right;
}
@media (min-width: 768px) {
  .rw-table tbody th {
    @apply w-1/5;
  }
}
.rw-table tbody tr {
  @apply border-t border-secondary;
}
.rw-table input {
  @apply ml-0;
}
.rw-table-actions {
  @apply flex h-4 items-center justify-end pr-1;
}
.rw-table-actions .rw-button {
  @apply bg-transparent;
}
.rw-table-actions .rw-button:hover {
  @apply bg-gray-500 text-white;
}
.rw-table-actions .rw-button-green {
  @apply text-emerald-600;
}
.rw-table-actions .rw-button-green:hover {
  @apply bg-emerald-600 text-white;
}
.rw-table-actions .rw-button-blue {
  @apply text-blue-500;
}
.rw-table-actions .rw-button-blue:hover {
  @apply bg-blue-500 text-white;
}
.rw-table-actions .rw-button-red {
  @apply text-rose-600;
}
.rw-table-actions .rw-button-red:hover {
  @apply bg-rose-600 text-white;
}
.rw-text-center {
  @apply text-center;
}
.rw-login-container {
  @apply mx-auto my-16 flex w-96 flex-wrap items-center justify-center;
}
.rw-login-container .rw-form-wrapper {
  @apply w-full text-center;
}
.rw-login-link {
  @apply mt-4 w-full text-center text-sm text-gray-600;
}
.rw-webauthn-wrapper {
  @apply mx-4 mt-6 leading-6;
}
.rw-webauthn-wrapper h2 {
  @apply mb-4 text-xl font-bold;
}
